.task {
  display: flex;
  background-color: rgb(236, 233, 233);
  border-radius: 10px;
  height: 50px;
}

.taskText {
  display: flex;
  color: black;
  align-items: center;
  width: 80%;
  padding-left: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 10px;
}

.imgTick {
  width: 25px;
  height: 25px;
}

.imgCross {
  width: 25px;
  height: 25px;
}

.btn-edit {
  color: green;
  margin-top: auto;
  margin-bottom: auto;
  background-color: transparent;
  border: transparent;
}
